name: Docker Image CI/CD

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          file: .docker/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:unstable
  deploy:
    runs-on: ubuntu-latest
    needs: [docker]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare secrets
        shell: bash
        working-directory: .helm
        env:
          VAULT_ADDR: ${{ secrets.VAULT_ADDRESS }}
        run: |
          ./install_vault.sh
          vault login token="${{ secrets.VAULT_TOKEN_DEVELOPMENT }}"
          ./prepare_values.sh development
      - name: Deploy
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: helm upgrade launchpad ./.helm/launchpad -n dev --set env.APP_ENV=dev --set env.APP_VERSION=${{ github.sha }} --set image.tag=unstable
          kubeconfig: '${{ secrets.KUBECONFIG }}'
          overrule_existing_kubeconfig: true
